NodosRed.txt
[{"id":"ef941175.64b09","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"891f2f5d.0591a","type":"function","z":"ef941175.64b09","name":"Format Alerta","func":"var res={};\n\nif(msg.payload.indexOf(\"Motion detected\")!=-1)\n{\nres.payload=\"ALERTA: Entrada sospechosa\"\nreturn res;\n}\nelse if(msg.payload.indexOf(\"Door opened too much time\")!=-1)\n{\nres.payload=\"ALERTA: La puerta ha estado abierta por demasiado tiempo\"\nreturn res;\n}\nelse if(msg.payload.indexOf(\"System locked\")!=-1)\n{\n   res.payload=\"ALERTA: Se han detectado varios intentos fallidos al desbloquear la cerradura\"\nreturn res;\n    \n}\nelse\n{\n     res.payload=\"\";\n    return res;\n}","outputs":1,"noerr":0,"x":720,"y":400,"wires":[["4a5c82c8.06fffc","b6f236aa.de62f8"]]},{"id":"4a5c82c8.06fffc","type":"debug","z":"ef941175.64b09","name":"after format","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":400,"wires":[]},{"id":"cd4ab408.17c728","type":"debug","z":"ef941175.64b09","name":"msg Entidad","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":320,"wires":[]},{"id":"b6f236aa.de62f8","type":"mqtt out","z":"ef941175.64b09","name":"","topic":"Alertas","qos":"0","retain":"false","broker":"805826e8.6ad6d8","x":980,"y":340,"wires":[]},{"id":"f3e6eba.7a7a018","type":"serial in","z":"ef941175.64b09","name":"Entidad fisica","serial":"99e316d1.114ba8","x":450,"y":400,"wires":[["cd4ab408.17c728","891f2f5d.0591a"]]},{"id":"805826e8.6ad6d8","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.43","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"99e316d1.114ba8","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
