NodosRed.txt
[{"id":"8e9f9f81.1a28c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e41c6090.29c7c","type":"function","z":"8e9f9f81.1a28c","name":"Format Alerta","func":"var res={};\n\nif(msg.payload.indexOf(\"Motion detected\")!=-1)\n{\nres.payload=\"ALERTA: Entrada sospechosa\"\nreturn res;\n}\nelse if(msg.payload.indexOf(\"Door opened too much time\")!=-1)\n{\nres.payload=\"ALERTA: La puerta ha estado abierta por demasiado tiempo\"\nreturn res;\n}\nelse if(msg.payload.indexOf(\"System locked\")!=-1)\n{\n   res.payload=\"ALERTA: Se han detectado varios intentos fallidos al desbloquear la cerradura\"\n}\nelse\n{\n     res.payload=\"\";\n    return res;\n}","outputs":1,"noerr":0,"x":720,"y":400,"wires":[["91915af0.8ce1d8","8fb7d609.5ae838"]]},{"id":"91915af0.8ce1d8","type":"debug","z":"8e9f9f81.1a28c","name":"after format","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":400,"wires":[]},{"id":"21a5bfdf.e8f14","type":"debug","z":"8e9f9f81.1a28c","name":"msg Entidad","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":320,"wires":[]},{"id":"8fb7d609.5ae838","type":"mqtt out","z":"8e9f9f81.1a28c","name":"","topic":"Alertas","qos":"0","retain":"false","broker":"805826e8.6ad6d8","x":980,"y":340,"wires":[]},{"id":"1e878a6a.236406","type":"serial in","z":"8e9f9f81.1a28c","name":"Entidad fisica","serial":"99e316d1.114ba8","x":450,"y":400,"wires":[["21a5bfdf.e8f14","e41c6090.29c7c"]]},{"id":"805826e8.6ad6d8","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.43","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"99e316d1.114ba8","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]